<footer class="container-fluid footer-copy">
  <div class="container">
    <div class="row">
      <div class="col-md-10 py-2">
        <p>
            We are in a dire need of sponsorships to help sustain the project activities. Please consider donating some funds if you feel EinsteinPy is creating some change :)
        </p>
        <p>
          ©{{ site.time | date: '%Y' }} The EinsteinPy Project.
          The website content uses the <a href="https://github.com/einsteinpy/einsteinpy.org/blob/master/COPYING">MIT Licence</a>.
        </p>
      </div>
      <br />
      <div class="col-md-2 py-2">
        <a class="btn btn-primary" href="//www.paypal.me/shreyasbapat">Donate</a>
      </div>
    </div>
  </div>
</footer>
