<!-- main menu -->
<div class="container py-3 py-lg-0">
  <nav class="navbar navbar-expand-lg navbar-light bg-light" id="main-menu">

    <a class="navbar-brand" href="/" id="logo">
      <img src="/img/wordmark.png" height="50" width="132" />
    </a>

    <button class="navbar-toggler ml-auto hidden-sm-up float-xs-left" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item flex-md-fill text-md-center">
          <a class="nav-link" href="//docs.einsteinpy.org/en/latest">Documentation</a>
        </li>

        <li class="nav-item flex-md-fill text-md-center">
          <a class="nav-link" href="//riot.im/app/#/room/#einsteinpy:matrix.org">Community</a>
        </li>

        <li class="nav-item flex-md-fill text-md-center">
          <a class="nav-link" href="//mybinder.org/v2/gh/einsteinpy/einsteinpy/main?filepath=docs/source/examples/index.ipynb">Tutorials</a>
        </li>

        <!-- <li class="nav-item flex-md-fill text-md-center">
          <a class="nav-link" href="//demo.bokeh.org">Demos</a>
        </li> -->

        <li class="nav-item flex-md-fill text-md-center">
          <a class="nav-link" href="//blog.einsteinpy.org">Blog</a>
        </li>

        <li class="nav-item flex-md-fill text-md-center">
            <a class="nav-link" href="//github.com/einsteinpy/einsteinpy">GitHub</a>
        </li>

        <li class="nav-item flex-md-fill text-md-center donate">
          <a class="btn btn-primary" href="//www.paypal.me/shreyasbapat">Donate</a>
        </li>

      </ul>
    </div>

  </nav>
</div>
<!-- end main menu -->
