<!-- team -->
<div class="container pt-sm-2">
  <br />

  <p>
    The current <a href="//github.com/bokeh/bokeh/wiki/BEP-4:-Project-Roles#core-team">Core Team</a> comprises:
  </p>

  <ul>
    <li><a href="//github.com/shreyasbapat">Shreyas Bapat</a></li>
    <li><a href="//github.com/ritzvik">Ritwik Saha</a></li>
    <li><a href="//github.com/orgs/einsteinpy/people/spino17">Bhavya Bhatt</a></li>
    <li><a href="//github.com/masquerade0097">Priyanshu Khandelwal</a></li>
  </ul>

  <p>
    The full list of contributors is on our <a href="//github.com/einsteinpy/einsteinpy/graphs/contributors">GitHub Contributors Page</a>.
  </p>

  <!-- <p>
      Bokeh was initially developed with funding from the <a href="//www.darpa.mil/program/xdata">DARPA XDATA Program</a>, and subsequently with support from <a href="//anaconda.com/">Anaconda, Inc</a>.
      Bokeh is now a fiscally sponsored project of <a href="//numfocus.org/">NumFOCUS</a>, a nonprofit dedicated to supporting the open source scientific computing community.
      If you like Bokeh and want to support our mission, please consider <a href="//numfocus.salsalabs.org/donate-to-bokeh/index.html">making a donation</a> to support our efforts.
  </p> -->

</div>

<br />

<!-- end team -->
