<!-- vision -->
<div class="container pt-sm-2">
  <br />

  <div class="row section-heading">
    <div class="col-lg-4 col-md-3"><hr/></div>
    <div class="col-lg-4 col-md-6">
      <h2>Vision</h2>
    </div>
    <div class="col-lg-4 col-md-3"><hr/></div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12">
      <p>
         EinsteinPy is a python package for problems arising in General Relativity! It strives to be accurate with
         it's results and calculations. It strives to be the most complete package for the usecase.
      </p>
    </div>
  </div>

  <br />
  <br />

  <!-- <div class="row section-heading">
    <div class="col-lg-4 col-md-3"><hr/></div>
    <div class="col-lg-4 col-md-6">
      <h2>Areas of Work</h2>
    </div>
    <div class="col-lg-4 col-md-3"><hr/></div>
  </div>

  <div class="row">
      <div class="col-lg-12 col-md-12">
        <p>
          The development pace of Bokeh is contigent on external funding opportunities, so instead of a traditional “roadmap” with specific dates and deadlines, we present the major areas of work the Core Team considers important.
          These are tasks and projects that we would like to do ourselves, when time and resources permit, or that we would be happy to have done by new contributors.
        </p>
      </div>
    </div> -->


  <!-- <br />

  <div class="row">
  {% assign items = site.goals %}
  {% for item in items %}
    <div class="col-lg-12 col-md-12 goal">
      <h4>{{ item.description }}</h4>
      <p> {{ item.content | markdownify }}</p>
    </div>
  {% endfor %}
  </div> -->

</div>
<!-- end vision -->
